

www/webstat
.backup
app/cache/*



www/media/*

www/tmp/*



/lib/Cake/Console/Templates/skel/tmp/

app/Config/database.php
app/Config/bootstrap.local.php
cake/tests/*

www/webstat
app/webroot/webstat

app/tmp
app/data

www/js/data/*







*.zip

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.webloc
 
# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db


# Folders to ignore
.hg
.svn
.CVS
cgi-bin
